
/* Search styles */

.search{
    width: 50vw;
    height: 100%;
    /* display: flex;
    display: inline-block; */
    /* justify-content: center;
    flex-direction: column; */
    /* padding-top: 5px; */
    /* position: absolute; */
    /* background: green; */
}

.search > input[type="search"]{
    outline: none;
    border: none;
    border-bottom: 2px solid #dbdbdb;
    padding-left: 10px;
    padding-right: 10px;
    width: 90px;
    min-width: 90px;
    height: 41px;
    font-size: 16px;
    background: none;
    /* display: inline-block; */
    float: right;
}

.search > input[type="search"]:focus{
    width: 550px;
    border-bottom: 2px solid purple;
    transition: all .5s ease-in;
}

.search > input[type="search"]:active{
    width: 90px;
}

.search > .btn-wrapper{
    /* position: absolute; */
    /* display: inline-block; */
    /* margin-left: 550px; */
    float: right; 
    
    
}

.search > .btn-wrapper > .btn{
    background: #1074C2;
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    box-shadow: 1px 1px 1px rgb(44, 44, 44);
    
}

.search > .input-wrapper{
    position: absolute;
    display: inline-block;
    width: 50%;
}

.search >  .result{
    background: #eaeaea;
    height: 400px;
    min-width: 400px;
    width: 540px;
    padding-left: 10px;
    position: fixed;
    margin-top: 17px;
    z-index: 999;
    display: none;
    color: #000000;
}

.search > .result > .s-info{
    height: 90%;
    width: 98%;
    /* background: green; */
    overflow: hidden;
}

.search > .result > .s-info > ul{
    height: 100%;
    /* background: purple; */
    padding: 0;
    margin: 0;
}

.search > .result > .s-info li{
    height: 35px;
    border-top: 1px solid #dddcdc;
    cursor: pointer;
}

.search > .result > .s-info li:hover{
    background: #dddcdc;
}

.search > .result > .s-info li:hover .li-indicator{
    background: red;
}


.li-indicator{
    width: 2px;
    height: 100%;
    
    float: left;
}

.search > .result > .s-info .lot{
    width: 40px;
    float: left;
    text-align: center;
    padding: 8px;
    /* background: red; */
    margin: auto 0;
}

.search > .result > .s-info .owner{
    padding: 8px;
    width: 50%;
    /* background: green;  */
    /* margi */
    float: left;
    
}

.search > .result > .s-info .last{
    float: right;
    padding: 8px;
    font-size: 14px;
    width: 60px;
}

.fa-sm{
    font-size: 10px;
    margin-right: 5px;
    color: red;
}
.last > .s-status{
    width: 10px;
    float: right;
    margin-right: 5px;
}

.last > .s-period{
    float: right;
    width: 40px;
}

.last > .s-period > year{
    width: 100%;
    font-size: 10px;
    position: absolute;
    margin-left: -33px;
    margin-top: 15px;
    letter-spacing: 1px;
}

ul li{
    list-style: none;
}

.search > .result > .s-footer{
    width: 98%;
    height: 10%;
    border-top: 1px solid #c4c1c1;
    margin-right: 5px;
    overflow: hidden;
    
}

.search > .result > .s-footer > .s-co-icon{
    width: 40px;
    height: 90%;
    /* background: yellow; */
    display: inline-flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
}

.search > .result > .s-footer > .s-co-icon::after{
    content: 'k';
    text-transform: uppercase;
    color: orange;

}

.search > .result > .s-footer > .s-result-count{
    width: 300px;
    height: 100%;
    /* background: red; */
    display: inline-flex;
    text-align: center;
    color: #000000;
    font-size: 12px;
}

.word{
    padding: 0 2px;
    font-weight: bold;
}

.search > .result > .s-footer > .s-more-r{
    float: right;
    font-size: 12px;
    text-transform: capitalize;
    cursor: pointer;
    margin-top: 1px;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
    display: none;
}

.search > .result > .s-footer > .s-more-r:hover{
    background: #dddcdc;
    text-decoration: underline;
}


/*
 * Result Calculator view 
 */
.calculator{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2.2em;
}

.expression{
    font-size: .7em;
    font-weight: 100;
    color: #817f7f;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #c5c4c4;
}


