/* Stylesheet */
body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    /* background: url('./../img/bg1.jpg') rgb(62, 67, 80); */
    
    color: #fff;
    opacity: 0.95;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

wrapper{
    height: 100%;
    width: 100%;
    float: left;
}


/****************************************
 *          Page Sidebar sytle
 ***************************************/

sidebar{
    background: #000000;
    height: 100vh;
    width: 204px;
    float: left;
}

/* Logo styles */

.logo{
    
    opacity: 1;
    width: 100%;
    height: 8vh;
    background-color: #064e72;
    float: left;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo > .co-name{
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: bolder;
    letter-spacing: 2px;
    color: orange;
}

.logo > .co-name::after{
content: ' tm';
font-size: 8px;

}

.logo > .tagline{
    font-size: 12px;
    letter-spacing: 1px;
}

/****************************************
 *          Page content sytle
 ***************************************/

content{
    float: left;
     width: 84%;

     min-width: 880px;
     height: 100%;
     /* background: purple; */
}

header{
    width: 100%;
    height: 8vh;
    /* overflow: hidden; */
    border-bottom: 1px solid #000000;
    box-shadow: 3px 3px 3px #080808;
    background-color: #f4f7f8;
    opacity: 1;

}

.header-settings {
    /* background: blue; */
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: right;

}

.header-settings-widgets {
    /* background: red; */
    padding: 0 20px 0 0;
    margin: 0;
    width: 70%;
    height: 100%;
    float:right;
}

.kheader-notification, .kheader-profile, .kheader_search{
    display: inline-block;
    height: 100%;
    padding: 15px 3px;
}
.kheader_search{
    padding: 0 20px;
    top: -25px;
    width:550px;
    /* background: #064e72; */
    position: relative;
}

.kheader-notification{
    
    padding: 0 5px;
    position: relative;
    top: -5px;
    width: 30px;
}

.kheader-profile{
    padding-right: 20px; 
    /* background: purple; */
}

/*
 * Default Dashboard settings
 */

 .kd-title{
     width: 100%;
     padding: 0 10px;
     /* background: red; */
     text-transform: uppercase;
     font-size: 0.7em;
     
 }



 @media screen and (max-width: 1263px) {
    content {
        /* width: 875px; */
        max-width: 82%;
        min-width: 870px;
    }

    .kheader_search{
        width: 320px;
    }
    header{
        width: 101%;
    }
}