/* Stylesheet */
/* 
General styles for the Kerror application
developed by Ovel. K. Heslop
August 20, 2017
*/

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    /* background: url('./../img/bg1.jpg') rgb(62, 67, 80); */
    
    color: #fff;
    opacity: 0.95;
}

/* wrapper */
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}


.footer{
    height: 3.6vh;
    line-height: 3.5vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* border-top: 2px solid rgb(70, 59, 231); */
    font-size: 14px;
    background: #1074C2;
}

.footer .version, .copyright, .setting, .date, .clock{
    margin: 0 10px;
    display: block;
}

.footer .version, .online, .setting{
    float: left;
    width: auto;
    
}

.footer .online{
    /* content: 'Status: '; */
    margin: 5px 0;
    /* color: rgb(10, 3, 109); */
}
.footer .copyright, .date, .clock{
    float: right;
}

.footer .setting{
    margin-top:5px; 
    /* display: none; */
}

.footer .setting .notice{
    background: rgb(211, 87, 87);
    padding: 3px;
    margin: -23px 0 0 10px;
    position: absolute;
    width: 10px;
    height: 10px;

    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#update_cog{
    cursor: pointer;
}

.footer .version{
    margin-left: -5px;
}

